# Python & FastAPI
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
*.log
.pytest_cache/
.coverage
htmlcov/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfstate.backup
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Secrets & SSH Keys
*.pem
*.key
*.pub
id_rsa*
id_ed25519*
aws_ec2_deploy*
.env
.env.*

# OS & IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo